---
import Link from '~/components/base/Link.astro'
import Icon from '~/components/base/Icon.astro'
import { formatDate } from '~/utils/datetime'
import { VERSION_COLOR } from '~/utils/github'

import type { ExtendedReleaseData, ExtendedPrData } from './GithubView.astro'

type Props =
  | {
      collectionType: 'releases'
      idx: number
      item: ExtendedReleaseData
      isDiffMonth: boolean
    }
  | {
      collectionType: 'prs'
      idx: number
      item: ExtendedPrData
      isDiffMonth: boolean
    }

const { collectionType, idx, item, isDiffMonth } = Astro.props

const isOrg =
  collectionType === 'releases'
    ? item.repoIsInOrganization
    : item.repository.isInOrganization

const mainLogoSrc = item.mainLogo
const mainLogoAlt =
  collectionType === 'releases'
    ? item.repoNameWithOwner
    : item.repository.nameWithOwner
const subLogoSrc = item.subLogo

const firstLinkHref = item.url
const firstLinkText = collectionType === 'releases' ? item.pkgName : item.title

const secondLinkHref =
  collectionType === 'releases' ? item.repoUrl : item.repository.url
const secondLinkText =
  collectionType === 'releases'
    ? item.repoNameWithOwner
    : item.repository.nameWithOwner

const time = collectionType === 'releases' ? item.publishedAt : item.createdAt
const content =
  collectionType === 'releases' ? item.descriptionHTML : item.bodyHTML
---

<details
  class={`slide-enter flex flex-col ${isDiffMonth ? 'mt-12 max-sm:mt-10' : ''}`}
  style={{ '--enter-stage': idx }}
>
  {/* Logo */}
  <summary class="flex cursor-pointer items-center gap-4 max-sm:gap-2">
    <div class="flex-none relative">
      <img
        class={`mt-px size-11 border border-gray-100 max-sm:size-10 dark:border-gray-800
            ${isOrg ? 'rounded-lg' : 'scale-[1.08] rounded-full'}`}
        src={mainLogoSrc}
        alt={mainLogoAlt}
      />
      {
        subLogoSrc && (
          <div
            class="absolute -right-1.5 -bottom-2 flex size-6 items-center justify-center
              rounded-full border border-gray-200 bg-white p-[0.18rem] dark:border-gray-700 dark:bg-[#121212]"
          >
            {subLogoSrc.includes('://') ? (
              <img src={subLogoSrc} alt="Sub logo" />
            ) : (
              <span class="size-2 rounded-full bg-current opacity-50" />
            )}
          </div>
        )
      }
    </div>

    {/* Text */}
    <div class="flex-1 flex justify-between items-center gap-2 min-w-0">
      <div class="flex flex-col gap-0.5 min-w-0">
        <Link
          class="flex items-center gap-1.5 !opacity-100 text-[1.1rem] hover:underline max-sm:text-[0.975rem]"
          href={firstLinkHref}
          external={true}
        >
          {
            collectionType === 'prs' &&
              (item.state === 'MERGED' ? (
                <Icon
                  name="git-merge"
                  class="size-4.5 text-purple-500 max-sm:size-4 dark:text-purple-400"
                />
              ) : (
                <Icon
                  name="git-pull"
                  class="size-4.5 text-green-500 max-sm:size-4 dark:text-green-400"
                />
              ))
          }
          <span class="truncate">{firstLinkText}</span>
        </Link>
        <div class="flex items-center text-sm transition-opacity duration-300 ease-in-out max-sm:text-[0.8rem]">
          <Link class="truncate" href={secondLinkHref} external={true}>
            {secondLinkText}
          </Link>
        </div>
      </div>
      <div class="flex shrink-0 flex-col items-end gap-[0.15rem]">
        <Link
          class="!opacity-100 font-mono text-[1.05rem] hover:underline max-sm:text-[0.9rem]"
          href={firstLinkHref}
          external={true}
        >
          {
            collectionType === 'releases' && (
              <span>
                v{item.versionParts[0]}<span class={`rounded ${VERSION_COLOR[item.versionType]}`}>{item.versionParts[1]}</span>
              </span>
            )
          }
          {collectionType === 'prs' && <span>#{item.number}</span>}
        </Link>
        <time class="text-sm opacity-60 max-sm:text-[0.8rem]" datetime={time} title={time}>
          {formatDate(time, false)}
        </time>
      </div>
    </div>
  </summary>
  <div class="prose github-item-content" set:html={content} />
</details>
