---
import Link from '~/components/base/Link.astro'
import { UI } from '~/config'
import type { ProjectSchema } from '~/content/schema'

interface Props {
  items: ProjectSchema[]
}

const { items } = Astro.props
const { maxGroupColumns } = UI.groupView
---

<div
  class="mx-auto grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] gap-3 py-8 max-lgp:!max-w-[712px] max-md:!max-w-[350px]"
  style={`max-width: calc(350px * ${maxGroupColumns} + ${maxGroupColumns - 1} * 0.75rem);`}
>
  {
    items.map((item, _) => (
      <Link
        class="link relative flex w-[350px] max-w-full items-center rounded-md
          bg-transparent px-3.5 pt-2 pb-3.5
          bg-transparent hover:bg-[#88888811]
          text-[1.1rem] transition-all duration-300"
        href={item.link}
        aria-hidden={true}
        external={true}
      >
        <div class="pt-2 pr-5" aria-hidden="true">
          <div class="grid size-9 place-items-center border border-current font-mono text-xs opacity-40">
            {item.name.slice(0, 2).toUpperCase()}
          </div>
        </div>
        <div class="flex-auto">
          <div>{item.name}</div>
          <div class="text-sm font-normal opacity-50">{item.desc}</div>
        </div>
      </Link>
    ))
  }
</div>
