---
import Link from '~/components/base/Link.astro'
import Icon from '~/components/base/Icon.astro'
import { getUrl } from '~/utils/common'
import { formatDate } from '~/utils/datetime'

interface Props {
  idx: number
  collectionType: string
  redirect?: string
  postSlug?: string
  title: string
  video?: boolean
  radio?: boolean
  date: string | Date
  minutesRead?: number
  platform?: string
}

const {
  idx,
  redirect,
  collectionType,
  postSlug,
  title,
  video,
  radio,
  date,
  minutesRead,
  platform,
} = Astro.props
---

<div class="slide-enter" style={{ '--enter-stage': idx }}>
  <Link
    class="mt-2 mb-6 block !border-b-0 !transition-opacity !duration-300 !ease-in-out"
    href={redirect ?? getUrl(`/${collectionType}/${postSlug}/`)}
    external={redirect ? true : false}
  >
    <li
      class="flex items-center gap-2 no-underline max-md:flex-col max-md:items-start"
    >
      <div class="text-lg leading-[1.2em]">
        <span class="align-middle"
          >{title}
          {
            redirect && (
              <Icon
                name="external"
                class="mb-2 -mr-0.5 -ml-1 align-middle text-xs opacity-50"
                title="External link"
              />
            )
          }</span
        >
      </div>
      <div class="flex items-center gap-2">
        {
          video && (
            <Icon
              name="film"
              class="flex-none align-middle opacity-50"
              title="Provided in video"
            />
          )
        }
        {
          radio && (
            <Icon
              name="radio"
              class="flex-none align-middle opacity-50"
              title="Provided in radio"
            />
          )
        }
        <span class="text-sm whitespace-nowrap opacity-50">
          {formatDate(date, false)}
        </span>
        {
          typeof minutesRead === 'number' && minutesRead > 0 && (
            <span class="text-sm whitespace-nowrap opacity-40">
              · {minutesRead} min
            </span>
          )
        }
        {
          platform && (
            <span class="text-sm whitespace-nowrap opacity-40">
              · {platform}
            </span>
          )
        }
      </div>
    </li>
  </Link>
</div>
