---
interface Props {
  title: string
  description: string
  tags?: string[]
  link?: string
  repo?: string
}

const { title, description, tags = [], link, repo } = Astro.props
---

<div class="p-3 border-1 border-[var(--c-border)]">
  <div class="flex items-baseline justify-between">
    <div class="font-mono text-sm text-[var(--c-link)]">
      {link ? (
        <a href={link} class="hover:text-[var(--c-link-hover)] no-underline">
          {title}
        </a>
      ) : (
        title
      )}
    </div>
    {repo && (
      <a
        href={repo}
        class="font-mono text-xs text-[var(--c-text-light)] hover:text-[var(--c-link-hover)]"
      >
        GitHub ↗
      </a>
    )}
  </div>
  <p class="text-[var(--c-text-light)] font-mono text-sm mt-1.5 mb-2">
    {description}
  </p>
  {tags.length > 0 && (
    <div class="flex flex-wrap gap-1">
      {tags.map(tag => (
        <span class="font-mono text-xs text-[var(--c-text-light)] bg-[var(--c-ui-bg)] px-1 py-0.5 rounded">
          {tag}
        </span>
      ))}
    </div>
  )}
</div>
